
 body {
            margin-top: 50px;
  }

.redStreet {
    border-bottom: solid 12px Red
}

.pinkStreet {
    border-right: solid 12px deeppink;
}

.yellowStreet {
    border-bottom: solid 12px yellow;
}

.greenStreet {
    border-left: solid 12px Green;
}

.blueStreet {
    border-left: solid 12px Blue;
}

.brownStreet {
    border-top: solid 12px SaddleBrown;
}

.skyBlueStreet {
    border-top: solid 12px SkyBlue;
}

.magentaStreet {
    border-right: solid 12px magenta;
}

.orangeStreet {
    border-right: solid 12px Orange;
}

.field {
    min-height: 75px !important;
    font-size: 10px !important;
    text-align: center;
    border-style: outset;
    white-space: normal;
    vertical-align: inherit;
}

.infopanel {
    margin-top: 40px;
}

.playerpicture {
    width: 100px;
    height:80px;
    position: absolute;
    left: 0;
    top: 0;
}

.pic {
    width: 30px;
    height:30px;
}

.playerpicture img {
    width: 100%;
}

p {
    margin-top: 15px;
}

.logo {
    background-color: red;
    font-weight: bold;
    color: #ffffff;
    font-size: 35px !important;
    text-align: center;
}

.prisonQuestion {
	padding: 3px 20px;
}
