
.redStreet {
  border-bottom:solid 12px Red
}


.yellowStreet {
  border-bottom: solid 12px Yellow;
}

.greenStreet{
  border-left: solid 12px Green;
}

.blueStreet {
  border-left: solid 12px Blue;
}

.brownStreet {
  border-top: solid 12px SaddleBrown;
}

.skyBlueStreet {
  border-top: solid 12px SkyBlue;
}

.magentaStreet {
  border-right: solid 12px magenta;
}

.orangeStreet {
  border-right: solid 12px Orange;
}


.col-md-1 {
  min-height: 75px !important;
    font-size: 10px !important;
    text-align: center;
    line-height: 75px;
    border-style: double;
    white-space:normal  ;

}

