.street {
	border-bottom: solid 12px;
}

.redStreet {
	border-color: Red;
}

.yellowStreet {
	border-color: Yellow;
}

.greenStreet {
	border-color: Green;
}

.blueStreet {
	border-color: Blue;
}

.brownStreet {
	border-color: SaddleBrown;
}

.skyBlueStreet {
	border-color: SkyBlue;
}

.darkOrchidStreet {
	border-color: DarkOrchid;
}

.orangeStreet {
	border-color: Orange;
}

.col-md-1 {
	min-height: 50px !important;
}